/* google - font */
body 
    {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
      }

   /* nav related work */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;


    }
.title-text{
    color: orangered;
}
.title{
    font-size: xx-large;
    font-size: 60px;
    font-weight: 700;
}
nav > ul {
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
  text-decoration: none;
color: dimgray;
  
}
.btn-primary{
    background-color:orangered;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    
    color: white;
    padding: 15px 30px;
}
.header{
   background-color: bisque;
   background-image: url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner{
    margin: 20px 15px 0  100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.profile picture {
    width: 300px;
    height: 100px;
  
}
.name{
   margin-bottom: 0;
}
.names{
   margin-top: 5px;
}
